{% extends "auctions/layout.html" %}

{% block body %}
{% load static %}
    <div id="heading" style=" position:static; display: flexbox; background-color: #F7CD46 ; padding:3px; margin-bottom: 10px; width: 100%; margin-top: 10px;" >
        <h2 style="color: #ffffff; text-align: center; font-family:monospace; font-size:30px; font-weight: bolder;" >Listing : {{listing.title}}</h2>
    </div>
    <div><h5 style="color: #F7CD46;" ><u style="color: #FD4755;" >Created by :</u>  {{listing.user}}</h5></div>
    <div style="display: flex; justify-content: center; padding: 5px;" >
        
        {% if listing.image != "" %}
        <img src="{{listing.image}}" width="550px" height="450px" alt="...">
        {% else %}
        <img src="{% static 'auctions/logo.png' %}" class="img-fluid rounded-start" width="500px" height="500px" style="opacity: 0.25;" >
        {% endif %}
        <div class="card-body">
          <p class="card-text">
            <ul>
                <li><b>Description :</b> {{listing.description}} </li>
                <li><b>Current Price :</b> &#x20B9;{{listing.starting_bid}}</li>
                <li><b>Category :</b> {% if listing.category != "" %} {{listing.category}} {% else %} Not Specified {% endif %} </li>
          </ul></p>
          <p class="card-text"><small class="text-body-secondary" style="color: #5AC3B0;" >Created on {{listing.datentime}}</small></p>
        </div>
    </div>
    <br>
    {% if user.is_authenticated %}
    <ul>
        {% if listing.user == request.user %}
        <form action="{% url 'close' %} " method="POST">
            {% csrf_token %}
            <input type="text" hidden value={{listing.id}} name="ite">
            <input type="submit" value="Close" style="background-color: #F7CD46; border: #FD4755 solid 1px;"  id="close">
        </form>
        {% elif listing.active == False and bids.user == request.user %}
            <h2>You are the winner</h2>
        {% else %}
            Total bids : {{bids.count}}, {% if bids.user == request.user %}
            Your bid is the current bid
            {% endif %}
            <form action="{% url 'bid' %} " method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text">Rs.</span>
                    <input type="text" class="form-control" name="price" placeholder="Bid">
                    <span class="input-group-text">.00</span>
                </div>
                <input type="text" hidden value={{listing.id}} name="item" >
                <input type="submit" value="Bid" id="bid">
            </form>
        {% endif %}
        <br>
        {% if listing.user != request.user %}
        {% if listing in watchlist %}
        
            <form action="{% url 'notwatch' %} " method="POST">
                {% csrf_token %}
                <input type="text" hidden value={{listing.id}} name="item">
                <input type="submit" value="Remove from Watchlist" id="remove">
            </form>
        

        {% else %}
        
            <form action="{% url 'watch' %} " method="POST">
                {% csrf_token %}
                <input type="text" hidden value={{listing.id}} name="item">
                <input type="submit" value="Add to Watchlist" id="add">
            </form>
        
        
        {% endif %}
        {% endif %}
        <br>
        <form action="{% url 'comment' %}" method="post">
            {% csrf_token %}
            <input type="text" name="item" hidden value={{listing.id}}>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" name="comment" placeholder="Comment">
            </div>
            <input type="submit" value="Post" id="comment">
        </form>
    </ul>
    {% endif %}

    <div class="card" style="width: auto;">
        <div class="card-header">
          Comments
        </div>
        <ul class="list-group list-group-flush" >
            {% for comment in comments %}
          <li class="list-group-item"><div style="display: flex; border: black solid 1px; justify-content:left; border-radius: 12px; " ><div style="color: #FD4755; background-color: #F7CD46; border-right: black solid 1px; margin-right: 2px; padding: 2px; border-top-left-radius: 12px; border-bottom-left-radius: 12px;" >{{comment.user}} </div><div style="padding: 2px;">{{comment.comment}}</div></div></li>
            {% endfor %}
        </ul>
      </div>
    
{% endblock %}